@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Poppins:wght@200&display=swap');
.App {
  /* border: 1px solid blue; */
  font-family: 'Dosis', sans-serif;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
}

.icons {
  color: #ff8e3c;
  font-size: 40px;
}
